<h1>All Recipes</h1>

<div id="recipe_list" class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-sm-4">
    <div class="well">
      <h2><%= link_to recipe.title, "/recipes/#{recipe.id}" %></h2>
      <%= image_tag recipe.image, class: "recipe_image" %>
      <h4>Chef: <%= recipe.chef %></h4>
      <p class="ingredients">Ingredients: <%= recipe.ingredients %></p>
      <p class="directions">Directions: <%= recipe.directions %> </p>

      <a class="btn btn-default" href="/recipes/<%= recipe.id %>/edit">Edit</a>
    </div>
  </div>

  <% end %>
</div>