<%= image_tag @recipe.image, class: "recipe_image" %>
<h1><%= @recipe.title %></h1>
<h2>Chef: <%= @recipe.chef %></h2>

<h3>Added: <%= @recipe.pretty_time %></h3>

<h3>Ingredients:</h3>

<ul>
  <% @recipe.ingredients_list.each do |ingredient| %>
    <li><h3><%= ingredient %></h3></li>
  <% end %>
</ul>


<h3>Directions:</h3>
<ol>
  <% @recipe.directions_list.each do |direction| %>
    <li><h3><%= direction %></h3></li>
  <% end %>
</ol>

<div>
  <%= link_to "Edit Recipe", "/recipes/#{@recipe.id}/edit" %>
</div>

<div>
  <%= link_to "Delete Recipe", "/recipes/#{@recipe.id}", method: :delete %>
</div>